<div class="section about-section" id="about">
    <div class="container">
        <h2 class="visually-hidden">About</h2>
        <div class="text-list-container">
            <p class="about-text">
                <span>Yacht Adventures</span> fleet is here to take you on the ultimate adventure. Each yacht is
                hand-picked
                for its
                comfort, style, and performance.
            </p>
            <ul class="about-list">
                <li class="about-item">
                    <p class="about-description">
                        From spacious decks to state-of-the-art technology, our yachts are designed to provide the
                        perfect
                        blend of luxury and functionality. Take a look at our selection below and choose the yacht that
                        matches your needs and preferences.
                    </p>
                </li>
                <li class="about-item">
                    <p class="about-description">
                        No matter which yacht you choose, our experienced crew will ensure that your journey is smooth
                        and
                        enjoyable. Book now and get ready for an unforgettable adventure on the high seas.
                    </p>
                </li>
            </ul>
        </div>

        <ul class="about-img-list">
            <li class="about-section-img-item">
                <picture>
                    <source srcset="./img/desktop/about-img-one.png 1x, ./img/desktop/about-img-one@2x.png 2x"
                        media="(min-width: 1280px)" type="image/png">
                    <source srcset="./img/desktop/about-img-one.webp 1x, ./img/desktop/about-img-one@2x.webp 2x"
                        media="(min-width: 1280px)" type="image/webp">

                    <source srcset="./img/tablet/about-img-one.png 1x, ./img/tablet/about-img-one@2x.png 2x"
                        media="(min-width: 768px)" type="image/png">
                    <source srcset="./img/tablet/about-img-one.webp 1x, ./img/tablet/about-img-one@2x.webp 2x"
                        media="(min-width: 768px)" type="image/webp">

                    <source srcset="./img/mobile/about-img-one.png 1x, ./img/mobile/about-img-one@2x.png 2x"
                        media="(min-width: 375px)" type="image/png">
                    <source srcset="./img/mobile/about-img-one.webp 1x, ./img/mobile/about-img-one@2x.webp 2x"
                        media="(min-width: 375px)" type="image/webp">

                    <img class="about-section-img first" src="./img/mobile/about-img-one.png" alt="A yacht">
                </picture>
            </li>
            <li class="about-section-img-item">
                <picture>
                    <source srcset="./img/tablet/about-img-two.png 1x, ./img/tablet/about-img-two@2x.png 2x"
                        media="(min-width: 768px)" type="image/png">
                    <source srcset="./img/tablet/about-img-two.webp 1x, ./img/tablet/about-img-two@2x.webp 2x"
                        media="(min-width: 768px)" type="image/webp">

                    <source srcset="./img/mobile/about-img-two.png 1x, ./img/mobile/about-img-two@2x.png 2x"
                        media="(min-width: 375px)" type="image/png">
                    <source srcset="./img/mobile/about-img-two.webp 1x, ./img/mobile/about-img-two@2x.webp 2x"
                        media="(min-width: 375px)" type="image/webp">

                    <img class="about-section-img second" src="./img/mobile/about-img-two.png" alt="A yacht">
                </picture>
            </li>
        </ul>
    </div>
</div>