<div class="section feedback-section" id="feedback">
    <div class="container">
        <h3 class="feedback-title">
            <span>Yacht Adventures</span> take pride in providing the best possible service and experience to our
            customers
        </h3>
        <p class="foodback-text">
            Our customers have enjoyed unforgettable moments on our yachts. Don't just take our word for it - read on to
            find out what they have to say about their journey with us.
        </p>

        <div class="swiper">
            <ul class="feedback-list swiper-wrapper">
                <li class="feedback-item swiper-slide">
                    <picture>
                        <source srcset="./img/tablet/clients-img-second.png" media="(min-width: 768px)"
                            type="image/png">
                        <source srcset="./img/tablet/clients-img-second.webp" media="(min-width: 768px)"
                            type="image/webp">

                        <source srcset="./img/mobile/clients-img-second.png" media="(min-width: 375px)"
                            type="image/png">
                        <source srcset="./img/mobile/clients-img-second.webp" media="(min-width: 375px)"
                            type="image/webp">

                        <img class="clients-img" src="./img/mobile/clients-img-second.png" alt="A man" width="48">
                    </picture>
                    <h4 class="feedback-sub-title">John Wax</h4>
                    <p class="feedback-description">
                        I rented the Lagoon 620 with my family for a week-long vacation and it was the best decision
                        ever.
                        The yacht was spacious, comfortable, and luxurious, and the crew took care of everything.
                    </p>
                </li>
                <li class="feedback-item swiper-slide">
                    <picture>
                        <source srcset="./img/tablet/clients-img-first.png" media="(min-width: 768px)" type="image/png">
                        <source srcset="./img/tablet/clients-img-first.webp" media="(min-width: 768px)"
                            type="image/webp">

                        <source srcset="./img/mobile/clients-img-first.png" media="(min-width: 375px)" type="image/png">
                        <source srcset="./img/mobile/clients-img-first.webp" media="(min-width: 375px)"
                            type="image/webp">

                        <img class="clients-img" src="./img/mobile/clients-img-first.png" alt="A woman" width="48">
                    </picture>
                    <h4 class="feedback-sub-title">Victoria Romashenko</h4>
                    <p class="feedback-description">
                        The Sunseeker Manhattan 66 was the perfect choice for our romantic getaway. The yacht was
                        beautifully designed, with all the amenities we needed, and the crew was attentive and friendly.
                    </p>
                </li>
                <li class="feedback-item swiper-slide">
                    <picture>
                        <source srcset="./img/tablet/clients-img-third.png" media="(min-width: 768px)" type="image/png">
                        <source srcset="./img/tablet/clients-img-third.webp" media="(min-width: 768px)"
                            type="image/webp">

                        <source srcset="./img/mobile/clients-img-third.png" media="(min-width: 375px)" type="image/png">
                        <source srcset="./img/mobile/clients-img-third.webp" media="(min-width: 375px)"
                            type="image/webp">

                        <img class="clients-img" src="./img/mobile/clients-img-third.png" alt="A man" width="48">
                    </picture>
                    <h4 class="feedback-sub-title">Ihor Trachuk</h4>
                    <p class="feedback-description">
                        The Azimut 80 was the most luxurious yacht I've ever been on. The cabins were spacious and
                        elegant,
                        and the outdoor areas were perfect for relaxing and entertaining. Worth every penny!
                    </p>
                </li>
            </ul>
        </div>

        <div class="pagination">
            <button class="pagination-button" type="button" aria-label="Go to slide 1">
                <svg class="slider-icon" width="13" height="13">
                    <use href="./img/icons.svg#icon-elipse"></use>
                </svg>
            </button>
            <button class="pagination-button" type="button" aria-label="Go to slide 2">
                <svg class="slider-icon" width="13" height="13">
                    <use href="./img/icons.svg#icon-elipse"></use>
                </svg>
            </button>
            <button class="pagination-button" type="button" aria-label="Go to slide 3">
                <svg class="slider-icon" width="13" height="13">
                    <use href="./img/icons.svg#icon-elipse"></use>
                </svg>
            </button>
        </div>

        <a class="back-top-link" href="./index.html">
            <svg class="back-top-icon" width="18" height="18">
                <use href="./img/icons.svg#icon-arrow"></use>
            </svg>
        </a>
    </div>
</div>