<header class="header">
    <div class="container">
        <div class="logo-burger-container">
            <nav class="header-nav">
                <a class="header-mobile-logo" href="./index.html">
                    <img src="./img/logo-mob.svg" alt="Logo">
                    Yacht Adventures
                </a>
                <a class="tab-desk-logo" href="./index.html">
                    <img src="./img/logo-tab.svg" alt="Logo">
                    Yacht Adventures
                </a>


                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#yachts">Yachts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#feedback">Reviews</a>
                    </li>
                </ul>
            </nav>

            <!-- Mobile Menu -->
            <button class="open-button mobile-btn-open" type="button" aria-label="Button for open mobile menu">
                <svg class="open-icon" width="24" height="24">
                    <use href="./img/icons.svg#icon-gamburger-button"></use>
                </svg>
            </button>
        </div>
    </div>
</header>