<header class="header">
    <div class="container">
        <div class="logo-burger-container">
            <nav class="header-nav">
                <a class="logo" href="./index.html">
                    <img src="./img/logo.png" srcset="./img/logo.png 1x, ./img/logo@2x.png 2x" alt="Logo" width="18">
                    Yacht Adventures
                </a>


                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="nav-link" href="#" target="_blank">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" target="_blank">Yachts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" target="_blank">Reviews</a>
                    </li>
                </ul>
            </nav>

            <!-- Mobile Menu -->
            <button class="open-button" type="button">
                <svg class="open-icon" width="24" height="24">
                    <use href="./img/icons.svg#icon-gamburger-button"></use>
                </svg>
            </button>
        </div>

        <div class="mobile-menu "> <!--is-open-->
            <div class="mobile-logo-close">
                <a class="logo mobile-logo" href="./index.html">
                    <img src="./img/logo.png" srcset="./img/logo.png 1x, ./img/logo@2x.png 2x" alt="Logo" width="18">
                    Yacht Adventures
                </a>

                <button class="close-button" type="button">
                    <svg class="close-icon" width="24" height="24">
                        <use href="./img/icons.svg#icon-close-button"></use>
                    </svg>
                </button>
            </div>

            <nav class="mobile-nav">
                <ul class="mobile-list">
                    <li class="mobile-item">
                        <a class="mobile-link" href="#">About</a>
                    </li>
                    <li class="mobile-item">
                        <a class="mobile-link" href="#">Yachts</a>
                    </li>
                    <li class="mobile-item">
                        <a class="mobile-link" href="#">Reviews</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>