<div class="section hero-section">
    <div class="container">
        <h1 class="hero-title">Explore the High Seas with <span>Our Luxury Yacht</span> Rentals</h1>
        <p class="hero-text">
            Experience the freedom and luxury of yachting on the open seas. Choose from our top-of-the-line yachts and
            embark on an unforgettable journey surrounded by breathtaking views and state-of-the-art amenities.
        </p>

        <ul class="hero-list">
            <li class="hero-item">
                <button class="hero-button" type="button">Get Started</button>
            </li>
            <li class="hero-item">
                <a class="hero-link" href="#service">Explore</a>
            </li>
        </ul>

        <div class="yacht-container">
            <div class="clients-container">
                <ul class="clients-list">
                    <li class="clients-item">
                        <picture>
                            <source srcset="./img/tablet/clients-img-second.png" media="(min-width: 768px)"
                                type="image/png">
                            <source srcset="./img/tablet/clients-img-second.webp" media="(min-width: 768px)"
                                type="image/webp">

                            <source srcset="./img/mobile/clients-img-second.png" media="(min-width: 375px)"
                                type="image/png">
                            <source srcset="./img/mobile/clients-img-second.webp" media="(min-width: 375px)"
                                type="image/webp">

                            <img class="clients-img first" src="./img/mobile/clients-img-second.png" alt="A man">
                        </picture>
                    </li>
                    <li class="clients-item">
                        <picture>
                            <source srcset="./img/tablet/clients-img-first.png" media="(min-width: 768px)"
                                type="image/png">
                            <source srcset="./img/tablet/clients-img-first.webp" media="(min-width: 768px)"
                                type="image/webp">

                            <source srcset="./img/mobile/clients-img-first.png" media="(min-width: 375px)"
                                type="image/png">
                            <source srcset="./img/mobile/clients-img-first.webp" media="(min-width: 375px)"
                                type="image/webp">

                            <img class="clients-img second" src="./img/mobile/clients-img-first.png" alt="A girl">
                        </picture>
                    </li>
                    <li class="clients-item">
                        <picture>
                            <source srcset="./img/tablet/clients-img-third.png" media="(min-width: 768px)"
                                type="image/png">
                            <source srcset="./img/tablet/clients-img-third.webp" media="(min-width: 768px)"
                                type="image/webp">

                            <source srcset="./img/mobile/clients-img-third.png" media="(min-width: 375px)"
                                type="image/png">
                            <source srcset="./img/mobile/clients-img-third.webp" media="(min-width: 375px)"
                                type="image/webp">

                            <img class="clients-img third" src="./img/mobile/clients-img-third.png" alt="A man">
                        </picture>
                    </li>
                </ul>
                <p class="clients-text">Our Clients</p>

            </div>

            <picture>
                <source srcset="./img/tablet/hero-img.png 1x, ./img/tablet/hero-img@2x.png 2x"
                    media="(min-width: 768px)" type="image/png">
                <source srcset="./img/tablet/hero-img.webp 1x, ./img/tablet/hero-img@2x.webp 2x"
                    media="(min-width: 768px)" type="image/webp">

                <source srcset="./img/mobile/hero-img.png 1x, ./img/mobile/hero-img@2x.png 2x"
                    media="(min-width: 375px)" type="image/png">
                <source srcset="./img/mobile/hero-img.webp 1x, ./img/mobile/hero-img@2x.webp 2x"
                    media="(min-width: 375px)" type="image/webp">

                <img class="hero-yacht-img" src="./img/mobile/hero-img.png" alt="A yacht">
            </picture>

            <div class="price-container">
                <p class="price">$12M</p>
                <p class="price-decription">Book now and make your dream yacht rental a reality</p>
            </div>
        </div>

    </div>
</div>