<div class="modal-overlay">
    <div class="modal-window">
        <button class="close-button modal-window-close-button modal-btn-close" type="button"
            aria-label="Modal close button">
            <svg class="close-icon" width="24" height="24">
                <use href="./img/icons.svg#icon-close-button"></use>
            </svg>
        </button>

        <picture>
            <source srcset="./img/tablet/hero-img.png 1x, ./img/tablet/hero-img@2x.png 2x" media="(min-width: 768px)"
                type="image/png">
            <source srcset="./img/tablet/hero-img.webp 1x, ./img/tablet/hero-img@2x.webp 2x" media="(min-width: 768px)"
                type="image/webp">

            <source srcset="./img/mobile/hero-img.png 1x, ./img/mobile/hero-img@2x.png 2x" media="(min-width: 375px)"
                type="image/png">
            <source srcset="./img/mobile/hero-img.webp 1x, ./img/mobile/hero-img@2x.webp 2x" media="(min-width: 375px)"
                type="image/webp">

            <img class="modal-window-img" src="./img/mobile/hero-img.png" alt="A yacht" width="378">
        </picture>

        <svg class="modal-elipse" width="275" height="275" viewBox="0 0 543 543" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <g opacity="0.6" filter="url(#filter0_f_92_1874)">
                <ellipse cx="71" cy="71" rx="71" ry="71"
                    transform="matrix(0.707168 -0.707046 0.708995 0.705214 171 272)" fill="#91AFBA" />
            </g>
            <defs>
                <filter id="filter0_f_92_1874" x="0.449219" y="0.967773" width="542.196" height="541.804"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                    <feGaussianBlur stdDeviation="100" result="effect1_foregroundBlur_92_1874" />
                </filter>
            </defs>
        </svg>

        <h2 class="modal-window-title">Thank you</h2>
        <p class="modal-window-text">
            Thank you for choosing Yacht Adventures, your booking details have been received and our team will be in
            touch shortly to confirm your reservation and provide any additional information or assistance you may need.
        </p>
    </div>
</div>