<div class="modal-overlay">
    <div class="modal-window">
        <button class="close-button modal-window-close-button modal-btn-close" type="button"
            aria-label="Modal close button">
            <svg class="close-icon" width="24" height="24">
                <use href="./img/icons.svg#icon-close-button"></use>
            </svg>
        </button>

        <picture>
            <source srcset="./img/tablet/hero-img.webp 1x, ./img/tablet/hero-img@2x.webp 2x" media="(min-width: 768px)"
                type="image/webp">
            <source srcset="./img/tablet/hero-img.png 1x, ./img/tablet/hero-img@2x.png 2x" media="(min-width: 768px)"
                type="image/png">

            <source srcset="./img/mobile/hero-img.webp 1x, ./img/mobile/hero-img@2x.webp 2x" media="(max-width: 767px)"
                type="image/webp">
            <source srcset="./img/mobile/hero-img.png 1x, ./img/mobile/hero-img@2x.png 2x" media="(max-width: 767px)"
                type="image/png">

            <img class="modal-window-img" src="./img/mobile/hero-img.png" alt="A yacht">
        </picture>

        <h2 class="modal-window-title">Thank you</h2>
        <p class="modal-window-text">
            Thank you for choosing Yacht Adventures, your booking details have been received and our team will be in
            touch shortly to confirm your reservation and provide any additional information or assistance you may need.
        </p>
    </div>
</div>