<div class="section service-section" id="service">
    <div class="container">
        <h2 class="visually-hidden">Service</h2>
        <ul class="service-list">
            <li class="service-item">
                <picture>
                    <source srcset="./img/desktop/diving.png 1x, ./img/desktop/diving@2x.png 2x"
                        media="(min-width: 1280px)" type="image/png">
                    <source srcset="./img/desktop/diving.webp 1x, ./img/desktop/diving@2x.webp 2x"
                        media="(min-width: 1280px)" type="image/webp">

                    <source srcset="./img/tablet/diving.png 1x, ./img/tablet/diving@2x.png 2x"
                        media="(min-width: 768px)" type="image/png">
                    <source srcset="./img/tablet/diving.webp 1x, ./img/tablet/diving@2x.webp 2x"
                        media="(min-width: 768px)" type="image/webp">

                    <source srcset="./img/mobile/diving.png 1x, ./img/mobile/diving@2x.png 2x"
                        media="(min-width: 375px)" type="image/png">
                    <source srcset="./img/mobile/diving.webp 1x, ./img/mobile/diving@2x.webp 2x"
                        media="(min-width: 375px)" type="image/webp">

                    <img class="service-img" src="./img/mobile/diving.png" alt="Diving">
                </picture>

                <button class="service-button" type="button">Diving</button>
            </li>
            <li class="service-item ">
                <picture class="service-picture">
                    <source srcset="./img/desktop/fishing.png 1x, ./img/desktop/fishing@2x.png 2x"
                        media="(min-width: 1280px)" type="image/png">
                    <source srcset="./img/desktop/fishing.webp 1x, ./img/desktop/fishing@2x.webp 2x"
                        media="(min-width: 1280px)" type="image/webp">

                    <source srcset="./img/tablet/fishing.png 1x, ./img/tablet/fishing@2x.png 2x"
                        media="(min-width: 768px)" type="image/png">
                    <source srcset="./img/tablet/fishing.webp 1x, ./img/tablet/fishing@2x.webp 2x"
                        media="(min-width: 768px)" type="image/webp">

                    <source srcset="./img/mobile/fishing.png 1x, ./img/mobile/fishing@2x.png 2x"
                        media="(min-width: 375px)" type="image/png">
                    <source srcset="./img/mobile/fishing.webp 1x, ./img/mobile/fishing@2x.webp 2x"
                        media="(min-width: 375px)" type="image/webp">

                    <img class="service-img fishing" src="./img/mobile/fishing.png" alt="Fishing">
                </picture>
                <button class="service-button fishing" type="button">Fishing</button>
            </li>
            <li class="service-item">
                <picture>
                    <source srcset="./img/desktop/sunbathing.png 1x, ./img/desktop/sunbathing@2x.png 2x"
                        media="(min-width: 1280px)" type="image/png">
                    <source srcset="./img/desktop/sunbathing.webp 1x, ./img/desktop/sunbathing@2x.webp 2x"
                        media="(min-width: 1280px)" type="image/webp">

                    <source srcset="./img/tablet/sunbathing.png 1x, ./img/tablet/sunbathing@2x.png 2x"
                        media="(min-width: 768px)" type="image/png">
                    <source srcset="./img/tablet/sunbathingg.webp 1x, ./img/tablet/sunbathing@2x.webp 2x"
                        media="(min-width: 768px)" type="image/webp">

                    <source srcset="./img/mobile/sunbathing.png 1x, ./img/mobile/sunbathing@2x.png 2x"
                        media="(min-width: 375px)" type="image/png">
                    <source srcset="./img/mobile/sunbathing.webp 1x, ./img/mobile/sunbathing@2x.webp 2x"
                        media="(min-width: 375px)" type="image/webp">

                    <img class="service-img sunbathing" src="./img/mobile/sunbathing.png" alt="Sunbathing">
                </picture>

                <button class="service-button sunbathing" type="button">Sunbathing</button>
            </li>
        </ul>
    </div>
</div>