<div class="section yachts-section" id="yachts">
    <div class="container">
        <h2 class="yachts-title">
            Choose your dream yacht and sail away into the sunset
        </h2>

        <a class="yachts-link" href="#rent">Yacht rental</a>

        <ul class="yachts-list">
            <li class="yachts-item">

                <picture>
                    <source srcset="./img/desktop/yacht-arrow.png 1x, ./img/desktop/yacht-arrow@2x.png 2x"
                        media="(min-width: 768px)" type="image/png">
                    <source srcset="./img/desktop/yacht-arrow.webp 1x, ./img/desktop/yacht-arrow@2x.webp 2x"
                        media="(min-width: 768px)" type="image/webp">

                    <source srcset="./img/tablet/yacht-arrow.png 1x, ./img/tablet/yacht-arrow@2x.png 2x"
                        media="(min-width: 768px)" type="image/png">
                    <source srcset="./img/tablet/yacht-arrow.webp 1x, ./img/tablet/yacht-arrow@2x.webp 2x"
                        media="(min-width: 768px)" type="image/webp">

                    <source srcset="./img/mobile/yacht-arrow.png 1x, ./img/mobile/yacht-arrow@2x.png 2x"
                        media="(min-width: 375px)" type="image/png">
                    <source srcset="./img/mobile/yacht-arrow.webp 1x, ./img/mobile/yacht-arrow@2x.webp 2x"
                        media="(min-width: 375px)" type="image/webp">

                    <img class="about-img" src="./img/mobile/yacht-arrow.png" alt="A yacht" width="335">
                </picture>

                <div class="yachts-sub-title-container">
                    <h3 class="yachts-sub-title">Arrow</h3>
                    <p class="yachts-label">LUXURY YAHTS</p>
                </div>
                <ul class="description-list">
                    <li class="description-item">
                        <p class="description-title">LENGTH</p>
                        <p class="description-title">BUILDER</p>
                        <p class="description-title">BUILT</p>
                        <p class="description-title">GUESTS</p>
                        <p class="description-title">PRICE</p>
                    </li>
                    <li class="description-item">
                        <p class="description-text">48m(155ft)</p>
                        <p class="description-text">Admiral</p>
                        <p class="description-text">2021</p>
                        <p class="description-text">11 in 5 cabins</p>
                        <p class="description-text">€33,500,000</p>
                    </li>
                </ul>
            </li>
        </ul>

        <ul class="slider-button-list">
            <li class="slider-button-item">
                <button class="slider-button" type="button">
                    <svg class="slider-button-icon" width="18" height="18">
                        <use href="./img/icons.svg#icon-arrow"></use>
                    </svg>
                </button>
            </li>
            <li class="slider-button-item">
                <button class="slider-button" type="button">
                    <svg class="slider-button-icon" width="18" height="18">
                        <use href="./img/icons.svg#icon-arrow"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</div>