<div class="section yachts-section" id="yachts">
    <div class="container">
        <h2 class="yachts-title">
            Choose your dream yacht and sail away into the sunset
        </h2>

        <a class="yachts-link" href="#rent">Yacht rental</a>

        <div class="swiper">
            <ul class="yachts-list swiper-wrapper">

                <!-- ARROW -->
                <li class="yachts-item swiper-slide">
                    <picture>
                        <source srcset="./img/desktop/arrow.png 1x, ./img/desktop/arrow@2x.png 2x"
                            media="(min-width: 768px)" type="image/png">
                        <source srcset="./img/desktop/arrow.webp 1x, ./img/desktop/arrow@2x.webp 2x"
                            media="(min-width: 768px)" type="image/webp">

                        <source srcset="./img/tablet/arrow.png 1x, ./img/tablet/arrow@2x.png 2x"
                            media="(min-width: 768px)" type="image/png">
                        <source srcset="./img/tablet/arrow.webp 1x, ./img/tablet/arrow@2x.webp 2x"
                            media="(min-width: 768px)" type="image/webp">

                        <source srcset="./img/mobile/arrow.png 1x, ./img/mobile/arrow@2x.png 2x"
                            media="(min-width: 375px)" type="image/png">
                        <source srcset="./img/mobile/arrow.webp 1x, ./img/mobile/arrow@2x.webp 2x"
                            media="(min-width: 375px)" type="image/webp">

                        <img class="about-img" src="./img/mobile/arrow.png" alt="A yacht" width="335">
                    </picture>
                    <div class="yachts-sub-title-container">
                        <h3 class="yachts-sub-title">Arrow</h3>
                        <p class="yachts-label">LUXURY YAHTS</p>
                    </div>
                    <ul class="description-list">
                        <li class="description-item">
                            <p class="description-title">LENGTH</p>
                            <p class="description-title">BUILDER</p>
                            <p class="description-title">BUILT</p>
                            <p class="description-title">GUESTS</p>
                            <p class="description-title">PRICE</p>
                        </li>
                        <li class="description-item">
                            <p class="description-text">48m(155ft)</p>
                            <p class="description-text">Admiral</p>
                            <p class="description-text">2021</p>
                            <p class="description-text">11 in 5 cabins</p>
                            <p class="description-text">€33,500,000</p>
                        </li>
                    </ul>
                </li>

                <!-- BENETTI -->
                <li class="yachts-item swiper-slide">
                    <picture>
                        <source srcset="./img/desktop/benetti.png 1x, ./img/desktop/benetti@2x.png 2x"
                            media="(min-width: 768px)" type="image/png">
                        <source srcset="./img/desktop/benetti.webp 1x, ./img/desktop/benetti@2x.webp 2x"
                            media="(min-width: 768px)" type="image/webp">

                        <source srcset="./img/tablet/benetti.png 1x, ./img/tablet/benetti@2x.png 2x"
                            media="(min-width: 768px)" type="image/png">
                        <source srcset="./img/tablet/benetti.webp 1x, ./img/tablet/benetti@2x.webp 2x"
                            media="(min-width: 768px)" type="image/webp">

                        <source srcset="./img/mobile/benetti.png 1x, ./img/mobile/benetti@2x.png 2x"
                            media="(min-width: 375px)" type="image/png">
                        <source srcset="./img/mobile/benetti.webp 1x, ./img/mobile/benetti@2x.webp 2x"
                            media="(min-width: 375px)" type="image/webp">
                        <img class="about-img" src="./img/mobile/benetti.png" alt="A yacht" width="335">
                    </picture>
                    <div class="yachts-sub-title-container">
                        <h3 class="yachts-sub-title">BENETTI OASIS 40M BO122</h3>
                        <p class="yachts-label">LUXURY YAHTS</p>
                    </div>
                    <ul class="description-list">
                        <li class="description-item">
                            <p class="description-title">LENGTH</p>
                            <p class="description-title">BUILDER</p>
                            <p class="description-title">BUILT</p>
                            <p class="description-title">GUESTS</p>
                            <p class="description-title">PRICE</p>
                        </li>
                        <li class="description-item">
                            <p class="description-text">41m (133ft)</p>
                            <p class="description-text">Benetti</p>
                            <p class="description-text">2025</p>
                            <p class="description-text">10 in 5 cabins</p>
                            <p class="description-text">€23,210,000</p>
                        </li>
                    </ul>
                </li>

                <!-- BELLE ANNA -->
                <li class="yachts-item swiper-slide">
                    <picture>
                        <source srcset="./img/desktop/belle.png 1x, ./img/desktop/belle@2x.png 2x"
                            media="(min-width: 768px)" type="image/png">
                        <source srcset="./img/desktop/belle.webp 1x, ./img/desktop/belle@2x.webp 2x"
                            media="(min-width: 768px)" type="image/webp">

                        <source srcset="./img/tablet/belle.png 1x, ./img/tablet/belle@2x.png 2x"
                            media="(min-width: 768px)" type="image/png">
                        <source srcset="./img/tablet/belle.webp 1x, ./img/tablet/belle@2x.webp 2x"
                            media="(min-width: 768px)" type="image/webp">

                        <source srcset="./img/mobile/belle.png 1x, ./img/mobile/belle@2x.png 2x"
                            media="(min-width: 375px)" type="image/png">
                        <source srcset="./img/mobile/belle.webp 1x, ./img/mobile/belle@2x.webp 2x"
                            media="(min-width: 375px)" type="image/webp">
                        <img class="about-img" src="./img/mobile/belle.png" alt="A yacht" width="335">
                    </picture>
                    <div class="yachts-sub-title-container">
                        <h3 class="yachts-sub-title">BELLE ANNA</h3>
                        <p class="yachts-label">LUXURY YAHTS</p>
                    </div>
                    <ul class="description-list">
                        <li class="description-item">
                            <p class="description-title">LENGTH</p>
                            <p class="description-title">BUILDER</p>
                            <p class="description-title">BUILT</p>
                            <p class="description-title">GUESTS</p>
                            <p class="description-title">PRICE</p>
                        </li>
                        <li class="description-item">
                            <p class="description-text">50m(155ft)</p>
                            <p class="description-text">ISA</p>
                            <p class="description-text">2012</p>
                            <p class="description-text">12 in 6 cabins</p>
                            <p class="description-text">€21,000,000</p>
                        </li>
                    </ul>
                </li>

                <!-- ELLEN-->
                <li class="yachts-item swiper-slide">
                    <picture>
                        <source srcset="./img/desktop/ellen.png 1x, ./img/desktop/ellen@2x.png 2x"
                            media="(min-width: 768px)" type="image/png">
                        <source srcset="./img/desktop/ellen.webp 1x, ./img/desktop/ellen@2x.webp 2x"
                            media="(min-width: 768px)" type="image/webp">

                        <source srcset="./img/tablet/ellen.png 1x, ./img/tablet/ellen@2x.png 2x"
                            media="(min-width: 768px)" type="image/png">
                        <source srcset="./img/tablet/ellen.webp 1x, ./img/tablet/ellen@2x.webp 2x"
                            media="(min-width: 768px)" type="image/webp">

                        <source srcset="./img/mobile/ellen.png 1x, ./img/mobile/ellen@2x.png 2x"
                            media="(min-width: 375px)" type="image/png">
                        <source srcset="./img/mobile/ellen.webp 1x, ./img/mobile/ellen@2x.webp 2x"
                            media="(min-width: 375px)" type="image/webp">
                        <img class="about-img" src="./img/mobile/ellen.png" alt="A yacht" width="335">
                    </picture>
                    <div class="yachts-sub-title-container">
                        <h3 class="yachts-sub-title">Ellen</h3>
                        <p class="yachts-label">LUXURY YAHTS</p>
                    </div>
                    <ul class="description-list">
                        <li class="description-item">
                            <p class="description-title">LENGTH</p>
                            <p class="description-title">BUILDER</p>
                            <p class="description-title">BUILT</p>
                            <p class="description-title">GUESTS</p>
                            <p class="description-title">PRICE</p>
                        </li>
                        <li class="description-item">
                            <p class="description-text">40m (132ft)</p>
                            <p class="description-text">Perini Navi</p>
                            <p class="description-text">2001 / 2016 (refitted)</p>
                            <p class="description-text">9 in 4 cabins</p>
                            <p class="description-text">€9,300,000</p>
                        </li>
                    </ul>
                </li>

                <!-- MIRAGE -->
                <li class="yachts-item swiper-slide">
                    <picture>
                        <source srcset="./img/desktop/mirage.png 1x, ./img/desktop/mirage@2x.png 2x"
                            media="(min-width: 768px)" type="image/png">
                        <source srcset="./img/desktop/mirage.webp 1x, ./img/desktop/mirage@2x.webp 2x"
                            media="(min-width: 768px)" type="image/webp">

                        <source srcset="./img/tablet/mirage.png 1x, ./img/tablet/mirage@2x.png 2x"
                            media="(min-width: 768px)" type="image/png">
                        <source srcset="./img/tablet/mirage.webp 1x, ./img/tablet/mirage@2x.webp 2x"
                            media="(min-width: 768px)" type="image/webp">

                        <source srcset="./img/mobile/mirage.png 1x, ./img/mobile/mirage@2x.png 2x"
                            media="(min-width: 375px)" type="image/png">
                        <source srcset="./img/mobile/mirage.webp 1x, ./img/mobile/mirage@2x.webp 2x"
                            media="(min-width: 375px)" type="image/webp">
                        <img class="about-img" src="./img/mobile/mirage.png" alt="A yacht" width="335">
                    </picture>
                    <div class="yachts-sub-title-container">
                        <h3 class="yachts-sub-title">MIRAGE 401</h3>
                        <p class="yachts-label">LUXURY YAHTS</p>
                    </div>
                    <ul class="description-list">
                        <li class="description-item">
                            <p class="description-title">LENGTH</p>
                            <p class="description-title">BUILDER</p>
                            <p class="description-title">BUILT</p>
                            <p class="description-title">GUESTS</p>
                            <p class="description-title">PRICE</p>
                        </li>
                        <li class="description-item">
                            <p class="description-text">38m (125ft)</p>
                            <p class="description-text">Gianetti Custom Yachts</p>
                            <p class="description-text">2024</p>
                            <p class="description-text">10 in 5 cabins</p>
                            <p class="description-text">€13,500,000</p>
                        </li>
                    </ul>
                </li>

                <!-- KING -->
                <li class="yachts-item swiper-slide">
                    <picture>
                        <source srcset="./img/desktop/king.png 1x, ./img/desktop/king@2x.png 2x"
                            media="(min-width: 768px)" type="image/png">
                        <source srcset="./img/desktop/king.webp 1x, ./img/desktop/king@2x.webp 2x"
                            media="(min-width: 768px)" type="image/webp">

                        <source srcset="./img/tablet/king.png 1x, ./img/tablet/king@2x.png 2x"
                            media="(min-width: 768px)" type="image/png">
                        <source srcset="./img/tablet/king.webp 1x, ./img/tablet/king@2x.webp 2x"
                            media="(min-width: 768px)" type="image/webp">

                        <source srcset="./img/mobile/king.png 1x, ./img/mobile/king@2x.png 2x"
                            media="(min-width: 375px)" type="image/png">
                        <source srcset="./img/mobile/king.webp 1x, ./img/mobile/king@2x.webp 2x"
                            media="(min-width: 375px)" type="image/webp">
                        <img class="about-img" src="./img/mobile/king.png" alt="A yacht" width="335">
                    </picture>
                    <div class="yachts-sub-title-container">
                        <h3 class="yachts-sub-title">KING</h3>
                        <p class="yachts-label">LUXURY YAHTS</p>
                    </div>
                    <ul class="description-list">
                        <li class="description-item">
                            <p class="description-title">LENGTH</p>
                            <p class="description-title">BUILDER</p>
                            <p class="description-title">BUILT</p>
                            <p class="description-title">GUESTS</p>
                            <p class="description-title">PRICE</p>
                        </li>
                        <li class="description-item">
                            <p class="description-text">33m (109ft)</p>
                            <p class="description-text">Overmarine</p>
                            <p class="description-text">2004 / 2018 (refitted)</p>
                            <p class="description-text">9 in 4 cabins</p>
                            <p class="description-text">€1,850,000</p>
                        </li>
                    </ul>
                </li>

                <!-- SALT -->
                <li class="yachts-item swiper-slide">
                    <picture>
                        <source srcset="./img/desktop/salt.png 1x, ./img/desktop/salt@2x.png 2x"
                            media="(min-width: 768px)" type="image/png">
                        <source srcset="./img/desktop/salt.webp 1x, ./img/desktop/salt@2x.webp 2x"
                            media="(min-width: 768px)" type="image/webp">

                        <source srcset="./img/tablet/salt.png 1x, ./img/tablet/salt@2x.png 2x"
                            media="(min-width: 768px)" type="image/png">
                        <source srcset="./img/tablet/salt.webp 1x, ./img/tablet/salt@2x.webp 2x"
                            media="(min-width: 768px)" type="image/webp">

                        <source srcset="./img/mobile/salt.png 1x, ./img/mobile/salt@2x.png 2x"
                            media="(min-width: 375px)" type="image/png">
                        <source srcset="./img/mobile/salt.webp 1x, ./img/mobile/salt@2x.webp 2x"
                            media="(min-width: 375px)" type="image/webp">
                        <img class="about-img" src="./img/mobile/salt.png" alt="A yacht" width="335">
                    </picture>
                    <div class="yachts-sub-title-container">
                        <h3 class="yachts-sub-title">SALT</h3>
                        <p class="yachts-label">LUXURY YAHTS</p>
                    </div>
                    <ul class="description-list">
                        <li class="description-item">
                            <p class="description-title">LENGTH</p>
                            <p class="description-title">BUILDER</p>
                            <p class="description-title">BUILT</p>
                            <p class="description-title">GUESTS</p>
                            <p class="description-title">PRICE</p>
                        </li>
                        <li class="description-item">
                            <p class="description-text">32m (105ft)</p>
                            <p class="description-text">SanLorenzo</p>
                            <p class="description-text">2019</p>
                            <p class="description-text">11 in 5 cabins</p>
                            <p class="description-text">€7,800,000</p>
                        </li>
                    </ul>
                </li>

                <!-- STORM -->
                <li class="yachts-item swiper-slide">
                    <picture>
                        <source srcset="./img/desktop/storm.png 1x, ./img/desktop/storm@2x.png 2x"
                            media="(min-width: 768px)" type="image/png">
                        <source srcset="./img/desktop/storm.webp 1x, ./img/desktop/storm@2x.webp 2x"
                            media="(min-width: 768px)" type="image/webp">

                        <source srcset="./img/tablet/storm.png 1x, ./img/tablet/storm@2x.png 2x"
                            media="(min-width: 768px)" type="image/png">
                        <source srcset="./img/tablet/storm.webp 1x, ./img/tablet/storm@2x.webp 2x"
                            media="(min-width: 768px)" type="image/webp">

                        <source srcset="./img/mobile/storm.png 1x, ./img/mobile/storm@2x.png 2x"
                            media="(min-width: 375px)" type="image/png">
                        <source srcset="./img/mobile/storm.webp 1x, ./img/mobile/storm@2x.webp 2x"
                            media="(min-width: 375px)" type="image/webp">
                        <img class="about-img" src="./img/mobile/storm.png" alt="A yacht" width="335">
                    </picture>
                    <div class="yachts-sub-title-container">
                        <h3 class="yachts-sub-title">STORM</h3>
                        <p class="yachts-label">LUXURY YAHTS</p>
                    </div>
                    <ul class="description-list">
                        <li class="description-item">
                            <p class="description-title">LENGTH</p>
                            <p class="description-title">BUILDER</p>
                            <p class="description-title">BUILT</p>
                            <p class="description-title">GUESTS</p>
                            <p class="description-title">PRICE</p>
                        </li>
                        <li class="description-item">
                            <p class="description-text">32m (103ft)</p>
                            <p class="description-text">Overmarine</p>
                            <p class="description-text">2005 / 2022 (refitted)</p>
                            <p class="description-text">9 in 4 cabins</p>
                            <p class="description-text">€2,900,000</p>
                        </li>
                    </ul>
                </li>

                <!-- COLLU -->
                <li class="yachts-item swiper-slide">
                    <picture>
                        <source srcset="./img/desktop/collu.png 1x, ./img/desktop/collu@2x.png 2x"
                            media="(min-width: 768px)" type="image/png">
                        <source srcset="./img/desktop/collu.webp 1x, ./img/desktop/collu@2x.webp 2x"
                            media="(min-width: 768px)" type="image/webp">

                        <source srcset="./img/tablet/collu.png 1x, ./img/tablet/collu@2x.png 2x"
                            media="(min-width: 768px)" type="image/png">
                        <source srcset="./img/tablet/collu.webp 1x, ./img/tablet/collu@2x.webp 2x"
                            media="(min-width: 768px)" type="image/webp">

                        <source srcset="./img/mobile/collu.png 1x, ./img/mobile/collu@2x.png 2x"
                            media="(min-width: 375px)" type="image/png">
                        <source srcset="./img/mobile/collu.webp 1x, ./img/mobile/collu@2x.webp 2x"
                            media="(min-width: 375px)" type="image/webp">
                        <img class="about-img" src="./img/mobile/collu.png" alt="A yacht" width="335">
                    </picture>
                    <div class="yachts-sub-title-container">
                        <h3 class="yachts-sub-title">COLLU</h3>
                        <p class="yachts-label">LUXURY YAHTS</p>
                    </div>
                    <ul class="description-list">
                        <li class="description-item">
                            <p class="description-title">LENGTH</p>
                            <p class="description-title">BUILDER</p>
                            <p class="description-title">BUILT</p>
                            <p class="description-title">GUESTS</p>
                            <p class="description-title">PRICE</p>
                        </li>
                        <li class="description-item">
                            <p class="description-text">29m (96ft)</p>
                            <p class="description-text">Ferretti</p>
                            <p class="description-text">2014</p>
                            <p class="description-text">10 in 5 cabins</p>
                            <p class="description-text">$4,300,000</p>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <ul class="slider-button-list">
            <li class="slider-button-item">
                <button class="slider-button prev" type="button">
                    <svg class="slider-button-icon" width="18" height="18">
                        <use href="./img/icons.svg#icon-arrow"></use>
                    </svg>
                </button>
            </li>
            <li class="slider-button-item">
                <button class="slider-button next" type="button">
                    <svg class="slider-button-icon" width="18" height="18">
                        <use href="./img/icons.svg#icon-arrow"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</div>