.about-section {
    position: relative;
}

.about-section::after {
    position: absolute;
    content: '';
    background-image: url(../img/mobile/about-img-three.png);
    width: 260px;
    height: 244px;
    right: 12px;
    z-index: -1;
}

.about-text {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: -0.04em;
    margin-bottom: 40px;
}

.about-text span {
    font-style: italic;
    background: linear-gradient(107deg, #bec7c2 0%, #a1b5ba 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-list {
    display: flex;
    align-items: flex-start;
    gap: 14px;
    margin-bottom: 40px;
}

.about-item {
    max-width: 160px;
}

.about-description {
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: -0.02em;
}

.about-section-img-item {
    margin-bottom: 24px;
}

@media (min-resolution: 192dpi) {
    .about-section::after {
        background-image: url(../img/mobile/about-img-three@2x.png);
        background-size: 260px 244px;
    }
}

@media screen and (min-width: 768px) {
    .about-text {
        font-size: 32px;
        margin-bottom: 32px;
        max-width: 514px;
    }

    .about-list {
        justify-content: flex-end;
        gap: 32px;
        margin-bottom: 64px;
    }

    .about-item {
        max-width: 184px;
    }

    .about-section::after {
        right: 136px;
        bottom: -116px;
    }

    .about-section-img-item:not(:last-child) {
        margin-bottom: 32px;
    }
}

@media screen and (min-width: 1280px) {
    .about-section {
        padding-top: 82px;
        padding-bottom: 82px;
    }

    .about-text {
        margin-bottom: 0;
    }

    .text-list-container {
        display: flex;
        justify-content: space-between;
    }

    .about-section-img.first {
        margin-left: auto;
        margin-right: auto;
    }

    .about-section-img.second {
        margin-top: -250px;
    }

    .about-section::after {
        left: 500px;
        bottom: -130px;
    }
}