.feedback-section {
    border-bottom: 1px solid rgba(246, 245, 239, 0.2);
}

.feedback-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: -0.04em;
    margin-bottom: 24px;
}

.feedback-title span {
    font-style: italic;
    background: linear-gradient(107deg, #bec7c2 0%, #a1b5ba 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.foodback-text {
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: -0.02em;
    margin-bottom: 40px;
}

.feedback-list {
    margin-bottom: 14px;
}

.feedback-item {
    border-radius: 24px;
    padding: 24px;
    width: 335px;
    height: 208px;
    background-color: var(--card-bg-color);
}

.clients-img {
    margin: 0 auto 18px;
}

.feedback-sub-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1;
    letter-spacing: -0.04em;
    text-align: center;
    margin-bottom: 8px;
}

.feedback-description {
    font-size: 12px;
    line-height: 1.4;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(246, 245, 239, 0.5);
    max-width: 300px;
}

.slider-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 16px;
}

.slider-icon {
    fill: var(--card-bg-color);
}


.slider-item:first-child .slider-icon {
    fill: #88b3b9;
    stroke-width: 1px;
    stroke: #93abae;
}

.back-top-link {
    width: 44px;
    height: 44px;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--button-main-bg-color);
    margin-left: auto;

}

.back-top-icon {
    fill: var(--icon-color);
    transform: rotate(-90deg);
}