.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
}

.nav-list {
    display: none;
}

.logo-burger-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(246, 245, 239, 0.2);
}

.header-mobile-logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.tab-desk-logo {
    display: none;
}

.open-button {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.open-button:hover .open-icon,
.open-button:focus .open-icon {
    fill: var(--hover-focus-color);
}

.open-icon {
    fill: var(--icon-color);
    transition: fill .3s ease;
}

.nav-link {
    transition: color .3s ease;
    cursor: pointer;
    display: block;
    padding: 24px 0;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--hover-focus-color);
}

@media (min-resolution: 192dpi) {
    .mobile-menu::after {
        background-image: url(../img/mobile/bg-elipse@2x.png);
        background-size: 375px 480px;
    }
}

@media screen and (min-width: 768px) {

    .header-nav {
        padding: 0;
    }

    .nav-list {
        display: flex;
        align-items: center;
        gap: 24px;
    }

    .header-mobile-logo {
        display: none;
    }

    .tab-desk-logo {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 18px;
    }

    .open-button {
        display: none;
    }

    .logo-burger-container {
        display: block;
    }

    .nav-link {
        padding: 32px 0;
    }
}