.hero-section {
    padding-top: 20px;
    position: relative;
}

.hero-section::after {
    content: '';
    position: absolute;
    background-color: var(--main-circle-color);
    filter: blur(80px);
    border-radius: 100%;
    width: 200px;
    height: 280px;
    left: 0;
    top: 394px;
    z-index: -3;
}

.hero-title {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.1;
    letter-spacing: -0.04em;
    max-width: 332px;
    margin-bottom: 14px;
}

.hero-title span {
    font-style: italic;
    background: linear-gradient(107deg, #bec7c2 0%, #a1b5ba 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-text {
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: -0.02em;
    margin-bottom: 24px;
    max-width: 332px;
}

.hero-list {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 40px;
}

.hero-button {
    min-width: 130px;
    height: 42px;
    border-radius: 60px;
    border: none;
    background-color: var(--button-main-bg-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: -0.04em;
    color: var(--main-font-color);

    transition: background-color .3s ease;
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--hover-focus-color);
}

.hero-link {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: -0.04em;

    padding: 12px 28px;
    border: 1px solid var(--border-color);
    border-radius: 60px;

    transition: color .3s ease, border-color .3s ease;
}

.hero-link:hover,
.hero-link:focus {
    color: var(--hover-focus-color);
    border-color: var(--hover-focus-color);
}

.clients-container {
    margin-bottom: 24px;
    padding-top: 24px;
    padding-left: 24px;
}

.clients-list {
    display: flex;
    align-items: center;
}

.clients-item {
    margin-right: -10px;
    margin-bottom: 12px;
    width: 48px;
    height: 48px;
}

.clients-img.first {
    position: relative;
}

.clients-img.third {
    position: relative;
    z-index: -1;
}

.clients-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--accent-font-color);
}

.yacht-container {
    width: 334px;
    height: 428px;
    background-image: url(../img/mobile/hero-bg-card.png);
    background-repeat: no-repeat;

    background-size: contain;
    position: relative;
    z-index: -2;
}

.yacht-container::before {
    content: '';
    position: absolute;
    background-image: url(../img/mobile/img-CEO.png);
    width: 133px;
    height: 133px;
    top: 32px;
    right: -12px;
}

.hero-yacht-img {
    margin-bottom: 14px;
    margin-left: auto;
    margin-right: auto;
}

.price-container {
    display: flex;
    align-items: center;
    gap: 14px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 48px;
}

.price {
    font-size: 48px;
    line-height: 1.1;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: var(--accent-font-color);
}

.price-decription {
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: -0.04em;
    color: var(--accent-font-color);
}

@media (min-resolution: 192dpi) {

    /* Mobile */
    .yacht-container {
        background-image: url(../img/mobile/hero-bg-card@2x.png);
        background-size: 334px 428px;
    }

    .yacht-container::before {
        background-image: url(../img/mobile/img-CEO@2x.png);
        background-size: 133px 133px;
    }

    /* Tablet */
    @media (min-width: 768px) {
        .yacht-container {
            background-image: url(../img/tablet/hero-bg-card@2x.png);
            background-size: 426px 598px;
        }

        .yacht-container::before {
            background-image: url(../img/tablet/img-CEO@2x.png);
            background-size: 233px 233px;
        }
    }
}

@media screen and (min-width: 768px) {
    .hero-section {
        padding-top: 32px;
        padding-bottom: 50px;
    }

    .hero-title {
        font-size: 60px;
        margin-bottom: 16px;
        max-width: 698px;
    }

    .hero-title span {
        font-style: italic;
    }

    .hero-text {
        font-size: 16px;
        margin-bottom: 32px;
        max-width: 540px;
    }

    .hero-list {
        gap: 12px;
        margin-bottom: 64px;
    }

    .hero-button {
        min-width: 152px;
        height: 48px;
        font-size: 18px;
    }

    .hero-link {
        font-size: 18px;
    }

    .clients-container {
        padding-top: 32px;
        padding-left: 32px;
    }

    .clients-item {
        width: 56px;
        height: 56px;
    }

    .hero-yacht-img {
        margin-top: 110px;
        margin-bottom: 22px;
        margin-left: auto;
        margin-right: auto;
    }

    .price {
        font-size: 60px;
    }

    .price-decription {
        font-size: 18px;
    }

    .hero-section::after {
        background-color: var(--main-circle-color);
        width: 200px;
        height: 400px;
        filter: blur(100px);
        top: 500px;
    }

    .yacht-container {
        width: 426px;
        height: 598px;
        background-image: url(../img/tablet/hero-bg-card.png);
    }

    .yacht-container::before {
        background-image: url(../img/tablet/img-CEO.png);
        width: 233px;
        height: 233px;
        top: 32px;
        right: -146px;
    }
}

@media screen and (min-width: 1280px) {
    .hero-section {
        padding-top: 32px;
        padding-bottom: 82px;
    }

    .hero-list {
        margin-bottom: 0;
    }

    .hero-container {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .hero-title {
        max-width: 576px;
    }

    .hero-section::after {
        background-color: var(--main-circle-color);
        width: 420px;
        height: 420px;
        filter: blur(200px);
        top: 120px;
    }
}