.rent-section {
    position: relative;
}

.rent-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: -0.04em;
    margin-bottom: 16px;
}

.rent-img {
    margin-bottom: 40px;
}

.form-label {
    display: block;
    margin-bottom: 4px;
    font-size: 14px;
}

.form-input {
    background-color: transparent;
    outline: none;
    border: none;
    width: 335px;
    height: 36px;
    border-bottom: 1px solid var(--border-color);
    color: var(--main-font-color);
    margin-bottom: 24px;
}

.form-input:focus,
.form-textarea:focus {
    color: var(--main-font-color);
}

.form-textarea {
    resize: none;
    background-color: transparent;
    outline: none;
    border: none;
    width: 335px;
    height: 75px;
    display: block;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 24px;
}

.form-button {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: -0.04em;
    color: var(--main-font-color);

    border-radius: 60px;
    width: 124px;
    height: 44px;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid var(--border-color);

    transition: border-color .3s ease, color .3s ease;
}

.form-button:hover,
.form-button:focus {
    border-color: var(--hover-focus-color);
    color: var(--hover-focus-color)
}

.form-button-icon {
    fill: var(--icon-color);
    margin-left: 16px;
    transition: fill .3s ease;
}

.form-button:hover .form-button-icon,
.form-button:focus .form-button-icon {
    fill: var(--hover-focus-color);
}

.backgroud {
    position: relative;
}

.rent-circle {
    position: absolute;
    border-radius: 100%;
    width: 100px;
    height: 283px;
    background-color: var(--main-circle-color);
    filter: blur(100px);
    right: 0;
    bottom: 0;
}

@media screen and (min-width: 768px) {
    .rent-section {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .rent-title {
        font-size: 60px;
        max-width: 288px;
        margin-bottom: 32px;
    }

    .rent-img {
        margin-bottom: 0;
    }

    .rent-section-container {
        display: flex;
        gap: 70px;
    }

    .form-label {
        font-size: 16px;
    }

    .form-input {
        margin-bottom: 28px;
    }

    .form-button {
        font-size: 18px;
        width: 134px;
        height: 48px;
    }

    .rent-circle {
        height: 383px;
    }
}

@media screen and (min-width: 1280px) {
    .rent-section {
        padding-top: 82px;
        padding-bottom: 82px;
    }

    .rent-section-container {
        justify-content: center;
        gap: 188px;
    }

    .form-input {
        width: 444px;
    }

    .form-textarea {
        width: 444px;
    }

    .rent-circle {
        height: 250px;
        width: 250px;
    }
}