.service-item {
    position: relative;
    margin-bottom: 24px;
}

.service-item:last-child {
    margin-bottom: 0;
}

.service-button {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: -0.04em;

    border-radius: 60px;
    width: 96px;
    height: 44px;
    background-color: var(--button-card-bg-color);
    border: none;

    position: absolute;
    left: 32px;
    bottom: 32px;

    transition: background-color .3s ease, color .3s ease;
}

.service-button:hover,
.service-button:focus {
    background-color: var(--hover-focus-color);
    color: var(--main-font-color);
}

@media screen and (min-width: 768px) {
    .service-section {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .service-item {
        margin-bottom: 32px;
    }

    .service-item .fishing {
        margin-left: auto;
    }

    .service-button.fishing {
        left: 332px;
    }

    .service-item .sunbathing {
        margin-left: 64px;
    }

    .service-button {
        font-size: 18px;
        width: 114px;
        height: 48px;
    }

}