.yachts-section {
    padding-top: 100px;
    position: relative;
}

.yachts-section::before,
.yachts-section::after {
    position: absolute;
    content: '';
}

.yachts-section::before {
    width: 220px;
    height: 220px;
    border-radius: 100%;
    background-color: var(--main-circle-color);
    filter: blur(150px);
    top: 140px;
    left: -40px;
    z-index: -1;
}

.yachts-section::after {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: var(--secondary-circle-color);
    filter: blur(150px);
    top: 64px;
    right: 0;
    z-index: -1;
}

.yachts-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: -0.04em;
    margin-bottom: 40px;
}

.yachts-link {
    border: 1px solid var(--border-color);
    border-radius: 60px;
    padding: 14px 28px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: -0.04em;

    transition: border-color .3s ease, color .3s ease;
}

.yachts-link:hover,
.yachts-link:focus {
    border-color: var(--hover-focus-color);
    color: var(--hover-focus-color)
}

.yachts-list {
    margin-top: 94px;
    margin-bottom: 24px;
}

.yachts-item {
    background-color: var(--card-bg-color);
    padding: 18px;
    border-radius: 24px;
}

.about-img {
    margin-bottom: 24px;
}

.yachts-sub-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}

.yachts-sub-title {
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.04em;
    padding-left: 6px;
    text-transform: uppercase;
}

.yachts-label {
    font-size: 12px;
    line-height: 1.18;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    opacity: 0.5;
}

.description-list {
    display: flex;
    align-items: center;
    gap: 32px;
    padding-left: 6px;
    padding-bottom: 6px;
}

.description-title {
    font-size: 14px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 6px;
}

.description-text {
    font-size: 14px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-bottom: 6px;
}

.description-title:last-child,
.description-text:last-child {
    margin-bottom: 0;
}

.slider-button-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
}

.slider-button {
    background-color: transparent;
    border-radius: 60px;
    border: 1px solid var(--border-color);

    display: flex;
    align-items: center;
    justify-content: center;

    transition: border-color .3s ease;

    padding: 14px;
    min-width: 46px;
    height: 36px;
}

.slider-button:hover,
.slider-button:focus {
    border-color: var(--hover-focus-color);
}

.slider-button-icon {
    fill: var(--icon-color);
    transition: fill .3s ease;
}

.slider-button-item:first-child {
    transform: rotate(180deg);
}

.slider-button:hover .slider-button-icon,
.slider-button:focus .slider-button-icon {
    fill: var(--hover-focus-color);
}

.desk-slider-button {
    display: none;
}

@media (min-resolution: 192dpi) {
    .yachts-section::before {
        background-image: url(../img/mobile/yacht-big-elipse@2x.png);
        background-size: 375px 656px;
    }

    .yachts-section::after {
        background-image: url(../img/mobile/yacht-small-elipse@2x.png);
        background-size: 375px 596px;
    }

    @media screen and (min-width: 768px) {
        .yachts-section::before {
            background-image: url(../img/tablet/yacht-big-elipse@2x.png);
            background-size: 520px 705px;
        }

        .yachts-section::after {
            background-image: url(../img/tablet/yacht-small-elipse@2x.png);
            background-size: 634px 798px;
        }
    }
}

@media screen and (min-width: 768px) {
    .yachts-section {
        padding-top: 44px;
        padding-bottom: 50px;
    }

    .yachts-section::before {
        width: 350px;
        height: 350px;
        background-color: var(--main-circle-color);
        filter: blur(150px);
        top: 0;
        left: 32px;
    }

    .yachts-section::after {
        width: 204px;
        height: 204px;
        background-color: var(--secondary-circle-color);
        filter: blur(150px);
        top: 64px;
        right: 64px;
    }

    .yachts-title {
        font-size: 70px;
        margin-bottom: 74px;
        max-width: 640px;
    }

    .yachts-link {
        font-size: 18px;
        margin-bottom: 114px;
    }
}

@media screen and (min-width: 1280px) {
    .yachts-section {
        padding-bottom: 82px;
        background-image: url(../img/desktop/desk-yacht-decor.png);
        background-size: 1280px 1804px;
        background-repeat: no-repeat;
    }


    .yachts-title {
        font-size: 100px;
        max-width: 882px;
        margin-left: 170px;
    }

    .yachts-link {
        margin-left: 170px;
    }

    .yachts-list {
        margin-top: 0;
        margin-bottom: 0;
    }

    .yachts-section::before {
        left: 220px;
    }

    .yachts-section::after {
        right: 380px;
    }

    .slider-button-list {
        display: none;
    }

    .desk-slider-button {
        display: flex;
    }

    .slider-yacts-container {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-top: 164px;
    }

    .slider-button-icon.prev {
        transform: rotate(180deg);
    }

    .desk-slider-button {
        background-color: transparent;
        border-radius: 60px;
        border: 1px solid var(--border-color);

        display: flex;
        align-items: center;
        justify-content: center;

        transition: border-color .3s ease;

        padding: 14px;
        min-width: 46px;
        height: 36px;
    }

    .desk-slider-button:hover,
    .desk-slider-button:focus {
        border-color: var(--hover-focus-color);
    }

    .desk-slider-button-icon {
        fill: var(--icon-color);
        transition: fill .3s ease;
    }

    .desk-slider-button-item:first-child {
        transform: rotate(180deg);
    }

    .desk-slider-button:hover .slider-button-icon,
    .desk-slider-button:focus .slider-button-icon {
        fill: var(--hover-focus-color);
    }
}